.carousel-container {
  max-width: 70%; /* Adjust to half of the page width */
  margin: auto;
  padding: 50px;
}

.carousel-container img {
  width: 100%; /* Make the images responsive to the container */
  max-height: 650px; /* Set the maximum height of the images, adjust as needed */
  border-radius: 20px; /* Add border-radius for rounded corners, adjust as needed */
  box-shadow: 0 4px px rgba(0, 0, 0, 0.1);
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.inside-box {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  border-radius: 15px;
  opacity: 1;
  box-shadow: 0 0 50px rgba(6, 0, 0, 0.5);
}

.overlay {
  text-align: center;
  padding: 20px;
}
.overlay h1 {
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.overlay p {
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cta-button {
  /* display: inline-block; */
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 5%;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: white;
  color: black;
}
.cta-whole {
  display: flex;
  gap: 50px;
  margin-left: 250px;
  /* text-align: center; */

  /* align-items: center; */
}

/* body{
    background-color: black;
  } */

/* //cursive test on navbar maybe for admin
  .title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
} */
